/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    background-color: #137570;
}

/* Justifying top bar */

.top-nav {
    background-color: #2A3439;
    padding: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;    
}

/* sizing the title text */

.top-nav h1 {
    font-size: 2rem;
}

.top-nav nav {
    display: flex;
    flex-grow: 1;
    gap: 20px;
    justify-content: center;
}

.top-nav nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.top-nav nav a {
    text-decoration: none;
    color: #FEFEFA;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;    
}

.search-form {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 0px;
    border-radius: 23px;
    padding: 10px;
    width: 460px;
    justify-content: center;    
}

.search-form input {
    border: none;
    min-width: 230px;
    padding: 18px 40px;
}

.search-form input::placeholder {
    font-size: 16px;
    color: #137570;    
}

/* Main body */

.main-and-left-wrapper {
    display: flex;
    flex-grow: 1;
    background-image: linear-gradient(to right, rgba(0, 161, 154, 0.2), transparent), 
                      /* Layer 2: Your background image */
                      url("./images/main_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}

.left-nav {
    width: 110px;
    padding: 10px;
    height: calc(100vh - 82px);
    overflow-y: auto;
}

.left-nav nav ul {
    list-style-type: none;
    padding: 10px;
}
  
.left-nav nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ccc;
}
  
.left-nav nav ul li a:hover {
    background-color: #ddd;
}

/* Basic CSS for the form elements */
body {
    font-family: Arial, sans-serif;
}

.main-content {
    flex-grow: 1;
    padding:10px;
    color: white;
}
.main-content h1 {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 80px;
    width: 50%;
}

.main-content p {
    font-size: 25px;
    margin-bottom: 50px;
    width: 50%;
}

.main-content button {
    border: none;
    font-size: 18px;
    font-style: bold;
    padding: 15px 35px;
}

div {
    margin-bottom: 10px;
}
  
label {
    display: inline-block;
    width: 100px;
}
  
input[type="text"],
input[type="number"],
select {
       width: 200px;
    padding: 0px;
}

button:hover {
    background-color: #45a049;
}

/* This media query will apply a different style for screens smaller than 768px */
@media (max-width: 768px) {
    .main-content h1 {
        font-size: 40px; /* Reduces the font size on smaller screens */
        width: 90%; /* Makes the h1 element take up more width */
    }
}