/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    background-color: #137570;
}

button:hover {
  background-color: #0f5c58; /* color más oscuro para todos */
}

.p-small {
    font-size: 25px;
    margin-bottom: 50px;
    width: 50%;
}

/* Párrafo normal */
.p-main {
  font-size: 30px;
  line-height: 1.1;
  color: #fefefa;
  max-width: 800px    
}

.p-medium {
      margin: 0 0 10px;
      font-size: 60px;
      width: 200px;
      font-weight: bold;
    }

/* Párrafo destacado */
.p-large {
  font-size: 100px; 
  font-weight: bold;
  color: #ffffff;  
  width: 40%;
}
/* Justifying top bar */

.top-nav {
    background-color: #2A3439;
    padding: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;    
}

/* sizing the title text */

.top-nav h1 {
    font-size: 2rem;
}

.top-nav nav {
    display: flex;
    flex-grow: 1;
    gap: 20px;
    justify-content: center;
}

.top-nav nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.top-nav nav a {
    text-decoration: none;
    color: #FEFEFA;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;    
}

.search-form {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    justify-content: center;
}

.search-form input {
    border: none;
    min-width: 230px;
    padding: 18px 40px;
}

.search-form input::placeholder {
    font-size: 16px;
    color: #137570;    
}

.btn-header {
  margin-right: 10px;
}

/* Main body */

.main-and-left-wrapper {
    display: flex;
    flex-grow: 1;
    background-image: linear-gradient(to right, rgba(0, 161, 154, 0.2), transparent), 
                      /* Layer 2: Your background image */
                      url("./images/main_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}

.left-nav {
    width: 110px;
    padding: 10px;
    height: calc(100vh - 82px);
    overflow-y: auto;
}

.left-nav nav ul {
    list-style-type: none;
    padding: 10px;
}
  
.left-nav nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ccc;
}
  
.left-nav nav ul li a:hover {
    background-color: #ddd;
}

/* Basic CSS for the form elements */
body {
    font-family: Arial, sans-serif;
}

.main-content {
    flex-grow: 1;
    padding:10px;
    color: white;
    display: flex;              /* activa flexbox */
    flex-direction: column;     /* apila verticalmente */
    justify-content: center;    /* centra vertical */
    align-items: left;        /* centra vertical*/
    min-height: 100vh;          /* ocupa el alto de la ventana */
}
.main-content h1 {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 80px;
    width: 50%;
}
/*
.main-content p {
    font-size: 25px;
    margin-bottom: 50px;
    width: 50%;
}
*/
.btn-landing {
  margin-top: 30px;
  font-size: 20px;
  width: 160px;
  height: 45px;
  font-weight: bold;
}

div {
    margin-bottom: 10px;
}
  
label {
    display: inline-block;
    width: 100px;
}
  
input[type="text"],
input[type="number"],
select {
       width: 200px;
    padding: 0px;
}

/* About us*/

.team-container {
      display: flex;
      justify-content: center;
      gap: 40px;
    }
/*
.team-container h2 {
      margin: 0 0 10px;
      font-size: 60px;
      width: 200px;
      font-weight: bold;
    }
*/
.team-box {
      /* border: 1px solid #ccc;*/
      border-radius: 10px;
      padding: 15px;
      width: 200px;
      text-align: left;
      box-shadow: 0 2px 5px rgba(12, 12, 12, 0.1);
      background-color: #33333373;
    }

    .team-box h3 {
      margin: 0 0 10px;
      font-size: 20px;
      width: 100%;
    }

    .team-box p {
      margin: 5px 0;
      font-size: 16px;
      width: 100%;
    }

    .role {
      display: inline-block;
      padding: 4px 18px;
      margin-bottom: 10px;
      border-radius: 10px;
      border: 1px solid #ccc;
      background-color: #273168;
      color: #fff;
      font-size: 0.9em;
      font-weight: bold;
      width: 100%;
      text-align: center;      
    }

.icon {
  width: 40px;
  height: 40px;
  background: no-repeat center;
  background-size: contain;
  display: inline-block;

  /* Icono embebido en formato data URI */
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M12 12c2.7 0 4.8-2.1 4.8-4.8S14.7 2.4 12 2.4 7.2 4.5 7.2 7.2 9.3 12 12 12zm0 2.4 c-3.2 0-9.6 1.6-9.6 4.8v2.4h19.2v-2.4 c0-3.2-6.4-4.8-9.6-4.8z"/></svg>');
}

/* contact us */

.contact-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 40px;
      
      margin: auto;
      padding: 20px;
    }

.intro {
  flex: 1;  /* primera columna */
}

.contact-form {
    flex: 1;
    display: flex;
  /*  padding: 12px;    */
    flex-direction: column;
    gap: 12px;    
    font-size: 20px;    
    max-width: 800px;
}

.contact-form label {
  display: block;
  margin-bottom: 4px;
}

.contact-form input,
.contact-form textarea {
    background: transparent;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Ajustar altura del textarea 5x input */
.contact-form textarea {
  height: calc(5 * 40px);  /* si tu input tiene 40px de altura */
  resize: vertical;        /* opcional */
}

.contact-form button {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
}

/* This media query will apply a different style for screens smaller than 768px */
@media (max-width: 768px) {
    .main-content h1 {
        font-size: 40px; /* Reduces the font size on smaller screens */
        width: 90%; /* Makes the h1 element take up more width */
    }
}